/* 
    888   88888888    8888888    888   888     8888888      
    888   888         8888 88    888   888     8888 88      
    888   8888888      888       888   888      888          
    888   888           88888    888   888       88888
88  888   888        88  8888    888   888    88  8888
88888     88888888   88888888    888888888    88888888

          8888   8888       888   888      
         888888 888888      888   888       
         888-John-8888      888   888       
          888-3:16-88       888   888         
            8888888         888   888
              888           888888888 
*/

/* main stylesheet */

.navbar {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.5rem;
}

.navbar a {
    text-decoration: none;
    color: var(--black);
}

.navbar li:first-child a:hover, .navbar li:nth-child(2) a:hover {
    text-decoration: underline;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav li, .right-nav li {
    margin-left: 0.7rem;
}

.right-nav {
    justify-content: flex-end;
    margin-right: 1rem;
}

.apps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
}
.apps:hover {
    background: var(--lightgray);
}

.right-nav li img {
    width: 1.25rem;
    height: auto;
    border-radius: 50%;
}

/* media queries  */

@media only screen and (max-width: 815px) and (orientation: portrait) {

}

@media only screen and (max-width: 415px) and (orientation: portrait) {

}